
{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <img src="{% static 'webapp/images/main.png' %}" alt="main.png" width="100" height="100" style="margin: 0px 50% auto;"> <h1 style="text-align: center;">This is Cloud Run Test</h1> -->
   <div class="container">
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Blog</th>
            <th>Publish Date</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
        {% for blog in blog %}  
          <tr>
            <td>{{blog.Title}}</td>
            <td>{{blog.Description}}</td>
            <td>{{blog.Pub_date}}</td>
            <td>{{blog.Author}}</td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>
{% endblock content %}
